@font-face {
    font-family:'dancing_scriptregular';
    src: url("dancingscript-variablefont_wght-webfont.woff2") format('woff2'),
         url("DancingScript-variablefont_wght") format("ttf"),
         url("dancingscript-variablefont_wght-webfont.woff") format('woff');
}

h1{
  font-family: "dancing_scriptregular";
  font-weight: normal;
  font-style: normal;
}
