@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body{
  background: #8CF586;
}

h1{
  font-family: 'Parisienne', cursive;
  color: white;
  font-size: 180px;
  text-align: center;
}

h2{
  font-family: "Parisienne";
  color: white;
  font-size: 64px;
  text-align: center;
}
